:root {
    --first-color: #E0B666; /*sand*/
    --second-color: #9B7838; /*dirt*/
    --third-color: #DA603E; /*coral*/   
    --fourth-color: #B0442A; /*terracotta*/
    --fifth-color: #2E4842; /*dark green*/
    --sixth-color: #81A89B; /*sage*/
    --text-color: #FFFFFF; /*white*/
}