@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=DotGothic16&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links > ul > li > a {
  color: white;
  text-decoration: none;
}

@layer components {
  .card {
    background-color: theme('colors.sage');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
